$background-color: #e7fae6;
$siteFont:'Source Code Pro', monospace;
$gameBoard: #ffee99;
$titleTextColor: black;
$titleAndBottomColor: #469940;
$feedFontColor: #043812;
$titleFont: 'Rowdies', cursive;
